@import "src/assets/styles/mixins";

#movies-list-container {
  .sort-header {
    padding: 2rem 1rem;

    mat-form-field {
      margin-left: 1rem;
    }
  }

  .movies-list {
    @include flex(row, space-between, center);
    flex-wrap: wrap;
    gap: 20px;
    padding: 2rem 1rem;
  }
}
