<div id="movies-list-container">
  <div class="sort-header wide-container">
    <mat-form-field appearance="outline">
      <mat-label tabindex="0">Sort option</mat-label>
      <mat-select (selectionChange)="sortOptionChange($event)" [value]="sortDefaultOption">
        <mat-option *ngFor="let option of sortOptions" [value]="option.value"
                    tabindex="0">{{ option.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="movies-list wide-container">
    <ng-container *ngIf="genreNames$ | async as genreNames">
      <app-movie-card *ngFor="let movie of movies$ | async"
                      [genreNames]="genreNames"
                      [movie]="movie">
      </app-movie-card>
    </ng-container>
  </div>
</div>
