/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}

mat-label {
  color: white;
}

.error-snackbar {
  background: indianred;

  & > div.mdc-snackbar__surface {
    background: indianred;
  }

  .mdc-snackbar__label[matsnackbarlabel] {
    color: white;
  }
}
