@mixin flex($dir: row, $align: center, $justify: center) {
  display: flex;
  flex-direction: $dir;
  align-items: $align;
  justify-content: $justify;
}

@mixin p-absolute() {
  bottom: 0;
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
}
